<div class="body">
    <div class="col-md-3 col-lg-12 pd-10">
        <img class="image-responsive" src="./assets/img/img-app-users-01.jpg" alt="" (click)="publicaciones()">
    </div>
    <div class="col-md-3 col-lg-12 pd-10">
        <img class="image-responsive" src="./assets/img/img-app-users-02.jpg" alt="" (click)="usuarios()">
    </div>
    <div class="col-md-3 col-lg-12 pd-10">
        <img class="image-responsive" src="./assets/img/img-app-users-03.jpg" alt="" (click)="albumes()">
    </div>
</div>